.blank-container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0,28,80,0.35);
}

.common-blue-container {
  padding: 0;
  background: linear-gradient(to bottom, #3E68DC 10%, #fff 60%);

  header {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
  }

  .ait-content {
    margin: 0 10px;
    padding: 20px 20px 10px;
    border-radius: 8px;
    line-height: 1.5;
    background: #fff;
    color: #999;
    max-height: 160px;
    overflow-x:scroll;

    font {
      color: #C30058;
    }

    .record-left-time {
      display: inline-block;
      width: 25px;
      color: #3B62D4;
    }

    .end-smile-img {
      margin: 0 auto;
      width: 48px;
    }
  }

  .mask{
    height: 15px;
    opacity: 0.8;
    width: 100%;
    background-color: #fff;
    position: relative;
    filter: blur(5px);
    -webkit-user-select: none;
    user-select: none;
    top: -12px;
  }

  .ait-action {
    padding-bottom: 20px;

    .btn {
      margin-top: 0;
    }
  }

  .endTitle{
    text-align: center;
  }
  
  .bottomText{
    margin-top: 20px;
    font-size: 10px;
  }
}


.fade-enter,
.fade-enter-done {
  display: block !important;
}

.ait-action {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.btn {
  // box-shadow: 0 7px 15px 0 rgba(0,50,206,0.35);
  margin: 0 !important;
  border-radius:100px;
  background-size: 100% 100%;
  width: 130px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;

  &::before {
    display: none;
  }
  &:active {
    opacity: .8;
  }
}

.cus-btn {
  background-image: linear-gradient(90deg, #72A1F0 0%, #3E68DC 100%);
  box-shadow: 0 2px 13px 0 rgba(0, 50, 206, 0.2);
  border-radius: 25px;
  height: 35px;
  line-height: 35px;
  color: #fff !important;
  overflow: inherit;

  &.bg-while {
    background: #fff;
    color: #4B76E1;
  }
  &:before {
    display: none;
  }
  &.am-button-active{
    opacity: .8;
  }
}

.link-btn {
  display: flex;
  align-items: center;
  color: #003982;

  &:active {
    color: #aaa;
  }
}