@import './s-common.scss';
@import './s-question.scss';
@import './s-voice.scss';
@import './s-score.scss';

.ait-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.comment {
  padding: 10px 20px;
  color: #aaa;
}

.title{
  color: #fff;
  min-height: 2rem;
  font-size: 24px;
  text-shadow: 0 0 5px #FFFFFF;
  position: relative;
  z-index: 2;
}

.doc-bg{
  overflow: scroll;
  width: 80%;
  margin: 0 auto;
  height: 500px;
  img{
    width: 100%;
  }
}