.question-bg{
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20);  
  .question-title{
    background-color: #0074FF;
    padding:10px 8%;
    height: 50px;
    line-height: 50px;
    color: white;
    display: flex;
    align-items: center;
    
    .question{
        width: 90%;
        height: 20px;
        line-height: 20px;
    }
    
  }

  .question-answer{
    height: 430px;
    background-color: white;
    .question-img{
      width: 80%;
      margin: 10px 0 0 20px;
    }
    ul{
      padding: 20px 8% 0;
      height: 80%;
      li{
        height: 19%;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        span.dot{
          background-color: white;
          color: gray;
          border: 1px solid gray;
          align-items: center;
          margin-right: 20px;
          position: relative;
        }
        .success{
          background-color: #1677FF !important;
          color: white !important;
          border-color: #1677FF !important;
        }

        .success::before{
          position: absolute;
          content: '';
          top: 7px;
          left: 5px;
          width: 15px;
          height: 8px;
          border-bottom: 1px solid #fff;
          border-left: 1px solid #fff;
          transform: rotate(-45deg );
        }

        .tempState{
            background-color: #d2d2d2 !important;
            color: white !important;
            border-color: #d2d2d2 !important;
          }
  
          .tempState::before{
            position: absolute;
            content: '';
            top: 7px;
            left: 5px;
            width: 15px;
            height: 8px;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            transform: rotate(-45deg );
          }

        .fail{
          background-color: red !important;
          color: white !important;
          border-color: red !important;
        }

        .fail:before, .fail:after {
          position: absolute;
          left: 12px;
          content: ' ';
          height: 15px;
          width: 2px;
          background-color: white;
        }
        .fail:before {
          transform: rotate(45deg);
        }
        .fail:after {
          transform: rotate(-45deg);
        }
        
        img{
          width: 80%;
        }
      }
    }
  }
}

.dot{
  display: inline-block ;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  color: #0074FF;
  margin-right: 10px;
}

.next-btn{
  background-color: #0074FF;
  width: 60%;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  margin: 0 auto;
  color: white;
}

.bottom-content{
  .tip{
    text-align: center;
    padding: 0 0 10px;
  }
}

.shaky {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: shaky-slow;
  -ms-animation-name: shaky-slow;
  animation-name: shaky-slow;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 2;
  -ms-animation-iteration-count: 2;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}

@keyframes shaky-slow {
  0% {
      transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
      transform: translate(-1px, 1.5px) rotate(1.5deg);
  }
  4% {
      transform: translate(1.3px, 0px) rotate(-0.5deg);
  }
  6% {
      transform: translate(1.4px, 1.4px) rotate(-2deg);
  }
  8% {
      transform: translate(-1.3px, -1px) rotate(-1.5deg);
  }
  10% {
      transform: translate(1.4px, 0px) rotate(-2deg);
  }
  12% {
      transform: translate(-1.3px, -1px) rotate(-2deg);
  }
  14% {
      transform: translate(1.5px, 1.3px) rotate(1.5deg);
  }
  16% {
      transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  18% {
      transform: translate(1.3px, -1.3px) rotate(-2deg);
  }
  20% {
      transform: translate(1px, 1px) rotate(-0.5deg);
  }
  22% {
      transform: translate(1.3px, 1.5px) rotate(-2deg);
  }
  24% {
      transform: translate(-1.4px, -1px) rotate(2deg);
  }
  26% {
      transform: translate(1.3px, -1.3px) rotate(0.5deg);
  }
  28% {
      transform: translate(1.6px, -1.6px) rotate(-1.5deg);
  }
  30% {
      transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
  }
  32% {
      transform: translate(-1px, 0px) rotate(2deg);
  }
  34% {
      transform: translate(1.3px, 1.3px) rotate(-0.5deg);
  }
  36% {
      transform: translate(1.3px, 1.6px) rotate(1.5deg);
  }
  38% {
      transform: translate(1.3px, -1.6px) rotate(1.5deg);
  }
  40% {
      transform: translate(-1.4px, -1px) rotate(-0.5deg);
  }
  42% {
      transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
  }
  44% {
      transform: translate(-1.6px, 1.4px) rotate(0.5deg);
  }
  46% {
      transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
  }
  48% {
      transform: translate(1px, 1.6px) rotate(1.5deg);
  }
  50% {
      transform: translate(1.6px, 1.6px) rotate(1.5deg);
  }
  52% {
      transform: translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
      transform: translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
      transform: translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
      transform: translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
      transform: translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
      transform: translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
      transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
      transform: translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
      transform: translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
      transform: translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
      transform: translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
      transform: translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
      transform: translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
      transform: translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
      transform: translate(1.4px, 1.6px) rotate(2deg);
  }
  82% {
      transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
  }
  84% {
      transform: translate(-1.4px, 1.4px) rotate(-2deg);
  }
  86% {
      transform: translate(1px, 1.4px) rotate(-2deg);
  }
  88% {
      transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
  }
  90% {
      transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  92% {
      transform: translate(-1.4px, 1.6px) rotate(2deg);
  }
  94% {
      transform: translate(-1.6px, -1.6px) rotate(-2deg);
  }
  96% {
      transform: translate(-1.4px, 1.3px) rotate(-2deg);
  }
  98% {
      transform: translate(1.3px, 1px) rotate(-0.5deg);
  }
}