.content-bg{
  background-color: white;
  padding:5px;
  .content-border{
    border: 1px solid #0074FF;
    position: relative;
    background-position: bottom;
    background-size: 100% 30px;
    background-repeat: no-repeat;
    .bar{
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
    }
    .top-bg{
      height: 35px;
      position: relative;
      float: left;
      width: 100%;
      background-color: #0074FF;
    }
  }
  
}

.score-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;

  .content-bg{
    position: relative;
    top:15%;
    width: 85%;
    height: 420px;
    margin: 0 auto;
  }

  .am-modal-wrap{
    top:150px;
  }
}


.score-content {
  position: relative;
  z-index: 4;
  text-align: center;
  font-size: 16px;
  height: 420px;

  .top-img{
    width:140px;
    position: relative;
    bottom: 110px;
  }

  .top-content {
    .sub-title {
      margin-top: 20px;
      font-weight: 700;
      color: black;
      font-size: 15px;
    }
  
    .title{
      color: #0074FF;
      font-size: 13px;
      border-style: none none dashed;
      border-color: #dcdcdc;
      padding-bottom: 20px;
      border-width: 2px;
      margin: 0 30px;
      min-height: 10px;
    }
  }

  .score-content-bg{
    position: relative;
    bottom: 140px;

    /* 非宽屏下 */
  @media (max-aspect-ratio: 3/5) {
    .score-img-container {
      top: 8vw;
      left: 3%;
      width: 94%;
    }
  }


    @media (min-aspect-ratio: 3/5) {
      .score-img-container {
        top: 5vw;
        left: 5%;
        width: 90%;
      }
    }
  }
}

.top-icon {
  position: relative;
  height: 18px;
  display: inherit;
  top: 10px
}

.top-action{
  display: flex; 
}

.radar-chart {
  width: 100%;
  height: 40vw;
}

.botttom-content{
  display: flex;
  justify-content: space-around;
  padding:10px 40px;
  img{
    width: 45px;
  }
}

.exit{
  background-color: #0074FF;
  width: 60%;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  color: white;
  font-size: 15px;
}
.dashboard-bg{
  background-image: url('../static/dashboard-bg.png');
  margin: 0 auto;
  width: 50%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  .score-total{
    position: relative;
    top: 85px;
    font-size: 38px;
    font-weight: 500;
    span{
      font-size: 16px;
    }
  }
}

.pointer {
  position: relative;
  top: 110px;
  // left: calc(50% - 4px);
  width: 50%;
  height: 1px;
  border-radius: 20%;
  transform-origin: 100% 0;
  transform: rotate(0deg);
  transition: transform .7s;

  &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 16px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid transparent;
      border-right: 10px solid rgba(82, 33, 96, .8) ;
      border-bottom: 5px solid transparent;
  }
}