.box {
  width: 90%;
  height: 45px;
  box-sizing: border-box;
  position: relative;
  margin-left: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  margin: 10px auto 50px;
  box-shadow: 0 0 8px 0 #d6d6d6;

  .wifi-symbol {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(135deg);
    margin-left: 15px;
    position: absolute;
    left: 10%;
    top:50%;

    .wifi-circle {
      border: 1px solid #8695B3;
      border-radius: 50%;
      position: absolute;
    }

    .first {
      width: 1px;
      height: 2px;
      background: #8695B3;
      top: 45px;
      left: 45px;
    }
    
    .second {
      width: 13px;
      height: 13px;
      top: 40px;
      left: 40px;
    }
    
    .third {
      width: 21px;
      height: 21px;
      top: 35px;
      left: 35px;
    }

  }

  .translate-icon{
    position: absolute;
    right:3%;
    top:50%;
    transform: translate(-50%, -50%);
    img{
      width: 14px;
      height: 14px;
    }
  }

  .duration-time{
    color: gray;
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(-50%, -50%)
  }
}

.active-audio {
  .second {
    animation: fadeInOut 1s infinite 0.2s;
  }
  
  .third {
    animation: fadeInOut 1s infinite 0.4s;
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0; /*初始状态 透明度为0*/
  }
  100% {
      opacity: 1; /*结尾状态 透明度为1*/
  }
}