.start-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../static/glass-bg.jpg") no-repeat;
  background-size: 100% 100%;

  .loading-wrap {
    position: relative;
    margin-top: -80px;

    &.fade-exit-done {
      display: none;
    }
    .text {
      text-align: center;
      color: #fff;
      text-shadow: 0 0 5px rgba(255,255,255,.8);
      font-size: 20px;
      font-weight: bold;
      position: relative;
      z-index: 2;
      .loading-text{
        font-size: 18px;
        text-shadow: 0 0 5px rgba(255,255,255,.8);
      }
    }
    .halo{
      background-size: 100%;
      width:calc(208px / 1.2);
      height:calc(208px / 1.2);
      position: absolute;
      left: 50%;
      top: 50%;
      transform:translate(-50%,-50%);
      transform-origin: center;
      animation: loadingRotate 1s infinite;
    }
    .mask{
      width: 375px;
      height: 595px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background:url('../../static/mask_bg.png') no-repeat;
      background-size: 100%;
      z-index: 1;
      opacity: .6;
    }
  }

  .enter-wrap {
    margin-top: -10vw;
    width: 100%;
    display: none;

    &.fade-enter,
    &.fade-enter-done{
      display: block;
    }

    .login-banner{
      img{
        width: 100%;
      }
    }
    .content-bg{
      width: 85%;
      margin: -35px auto 0;
      opacity: 0.85;
    }
    .top-icon {
      height: 22px;
      margin: 0 auto;
    }
    // .bottom-icon{
    //   position: relative;
    //   bottom:-13%  !important;
    // }

    .login-bg{
      margin-top: 5%;
    }
  }

  .content {
    height: 75vw;
    .title {
      margin: 25px 0;
      text-align: center;
      font-size: 13px;
      color: #656363;
      span{
        color:red;
        font-size: 24px;
      }
    }

    .countContent {
      display: flex;
      justify-content: space-between;
      padding: 0 28px;
      text-align: center;
      >div{
        font-size: 12px;
        color: #898686;
      }
      >div:last-child{
        border-right:none;
      }
      .count{
        color:red;
        font-weight: 600;
        font-size: 13px;
      }
    }
    
    .login-input {
      border: 1px solid #eee;
      border-radius: 5px;
      width: 80%;
      margin: 0 auto;
      height: 40px;
      min-height: 20px;
      background-color: white;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      background-repeat: no-repeat;
      background-position: -30%;
      background-size: 130px;
      .am-list-line{
        margin-left: 30px;
      }
      .am-input-control input{
        font-size: 13px;
      }
    }
    .num-input{
    }
    .tel-input{
    }
    .form-item{
      display: flex;
      margin-bottom: 20px;
      .code-input{
        width:25%;
        margin: 0 0 0 25px;
        height: 30px;
        .am-list-line{
          margin-left: 0;
        }
        
      }
    }
  }

  .bottom-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .am-button-active{
      background-color: black !important;
    }
    .am-button::before {
        border: none !important;
    }
    a{
      z-index: 999;
    }
  }

  .prompt-tip{
    // margin-top: 10vw;
    position: relative;
    top: 10vw;
    text-align: center;
    font-size: 12px;
    color: #8a8585;
  }
}

@keyframes loadingRotate {
  0%{
    transform: translate(-50%,-50%) rotate(0);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

.login-btn {
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  width:40%;
  background-color: black;
  color: red;
  text-align: center;
}

.captcha-img{
  margin-left: 50px;
}
