.progress-wrap {
  position: fixed;
  z-index: 99;
  bottom: 22px;
  left: 4vw;
}

.progress {
  position: relative;
  width: 92vw;
  height: 22px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0,28,80,0.35);
  background-color: #fff;

  .step-line-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    display: flex;

    li {
      height: 1px;
      background: #aaa;
    }

    .active {
      background: #4A89F9;
    }
  }

  .step-point-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: 100%;
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #aaa;
    }

    li:last-child {
      position: relative;
      width: 15px;
      height: 15px;
    
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 3.5px;
        width: 8px;
        height: 3px;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg);
      }
    }

    .active {
      background: #4A89F9;
    }
  }
}
