.radar-chart {
  margin-top: 5px;
  width: 100%;
  height: 50vw;
}

/* 最大宽高比 */
// @media (max-aspect-ratio: 3/5) {
//   .radar-chart {
//     height: 40vw;
//   }
// }

// /* 最小宽高比 */
// @media (min-aspect-ratio: 3/5) {
//   .radar-chart {
//     height: 40vw;
//   }
// }