.sup-modal{
  background: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;

  .am-modal-body {
    padding: 0 !important;
  }
  .title{
    min-height: 15px;
    font-size: 14px;
    color: #82AFEA;
    line-height: 22px;
  }
  .content{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 22px;
    min-height: 48px;
    padding: 10px 20px 10px;

    span {
      color: #82AFEA;
    }
  }
  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    .button{
      width: 50%;
    }
    .am-button{
      color: #1677FF;
    }
    .confirm-btn{
      font-weight: 800;
    }

    .confirm-btn,.cancel-btn{
      border-radius: 0px !important;
    }
    .confirm-btn::before,.cancel-btn::before{
      border-radius: 0px !important;
    }
  }
  .btn {
    width: 150px;
    margin: 0 10px !important;
  }
  .bot-link{
    padding-top: 20px;
    text-align: center;
    a{
      font-size: 12px;
      color: #82AFEA;
      line-height: 22px;
      text-decoration: underline;
    }
  }
}

.pop-footer{
  padding-bottom: 0px !important;

}
