.recorder-wrap{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    opacity: 0;

    &.fadeIn-enter-done{
        z-index: 4;
        opacity: 1;
        transition: opacity .35s;
    }
    .btn.am-button{
        background: none;
        overflow: initial;
        width: 140px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        margin-top: 0;
        .bg{
            background-size: 100% 100%;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            pointer-events: none;
            touch-action: none;
        }
        &.flash-ani{
            .bg{
            }
        }
        &::before{
            display: none;
        }
        &.flash-ani + .tip{
            animation: flash 2s infinite;
        }
    }
    .tip{
        text-align: center;
        font-size: 16px;
        color: #FFFFFF;
        position: relative;
        top: -20px;
    }
    .halo{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 8px;
        transform: translate(-50%,0) rotate(-50deg);
        border: 1px solid red;
        box-shadow: 0 0 10px 0 red;
        &.item-1{
            z-index: 1;
            animation: rdHaloAni-1 1s infinite alternate;
        }
        &.item-2{
            width: 130px;
            height: 130px;
            top: -8px;
            z-index: 2;
            opacity: 0.55;
            animation: rdHaloAni-2 1s infinite alternate;
            animation-delay: .3s;
        }
        &.item-3{
            width: 160px;
            height: 160px;
            top: -20px;
            opacity: 0.25;
            animation: rdHaloAni-3 1s infinite alternate;
            animation-delay: .6s;
        }
    }

    .recorder-call-tip {
      font-size: 16px;
      color: #fff;
    }
}
@keyframes rdHaloAni-1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes rdHaloAni-2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.55;
    }
}
@keyframes rdHaloAni-3 {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.25;
    }
}

.recorder-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height:1.5;
    opacity: 0;
    transition: all .2s;

    &.show{
        opacity: 1;
        backdrop-filter: blur(5px);
    }
    .text{
        height: 150px;
        text-shadow: 0 0 5px rgba(255,255,255,1);
    }
}
