
.w-video{
    .main-title{
        box-sizing: border-box;
        z-index: 2;
        margin: 20px 15px 0;
        padding: 8px 10px;
        line-height: 1.3;
        font-size: 14px;
        text-shadow: 0 0 15px #8b95ab;
        color: #fff;
        background-color:rgba(204,204,204,0.35);
        border-radius: 1px;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }
}
.video-bg-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .v-canvas,.v-ele{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .v-canvas{
        background: #959CB0;
    }
    .v-ele{
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      &.bot{
          z-index: 1;
      }
    }
    .v-hidden {
      opacity: 0;
    }

    .video-fake-bg{
        width: 100vw;
        position: absolute;
        left: 0;
        bottom: 0;
        &.top{
            z-index: 3;
            display: none;
            &.show{
                display: block;
            }
        }
        &.bot{
            z-index: 1;
        }
    }
}
.subtitle-wrap{
    color: #fff;
    padding: 10px 22px;
    margin: 0;
    list-style: none;
    font-size: 12px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    touch-action: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 2;
    &::-webkit-scrollbar{
        display: none;
    }
    .time{
        margin-right: 8px;
        color: #82AFEA;
    }
    .text{
        color: #333333;
        max-height: 2rem;
        display: -webkit-box;
        -webkit-line-clamp:2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
    >.item{
        margin-bottom: 5px;
        .content{
            display:inline-flex;
            background: rgba(255,255,255,0.55);
            border-radius: 100px;
            padding: 2px 10px 1px;
        }
    }
}

.qaa-wrap{
    font-size: 14px;
    padding: 20px 0 0;

    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;

    .q-item-wrap{
        min-width: 35%;
        max-width: 50%;
        height: 80px;
        text-align: center;
        opacity: 0;
        transition: opacity .5s;
        &.show{
            opacity: 1;
            animation: qItemAni 2s infinite alternate-reverse;
            transform-origin: center bottom;
        }
        &:nth-child(2){
            max-width: 30%;
            margin-left: 80px;
        }
        &.leftSort{
            margin-left: 0;
            max-width: 50%;
        }
        &:nth-child(2n){
            margin-top: 20px;
        }
    }
    .q-item{
        margin:0 15px;
        position: relative;
        display: inline-block;
        .bg{
            position:absolute;
            left:50%;
            top: 50%;
            transform:translate(-50%,-50%);
            width:140%;
            min-width: 90px;
            max-width: 50vw;
            height: 2rem;
            background:#fff;
            z-index: 1;
            box-shadow: 0 0 20px rgba(255,255,255,1);
            border-radius: 100px;
        }
        .bg,.bot-sphere{
            filter: blur(2.5px);
        }
        .bot-line{
            position: absolute;
            top: 30px;
            left:50%;
            transform:translateX(-50%);
            background:#fff;
            width:1px;
            height:10px;
        }
        .bot-sphere{
            position: absolute;
            top: 50px;
            left:50%;
            transform:translateX(-50%);
            background:#fff;
            width:26px;
            height:26px;
            border-radius: 100%;
            box-shadow: 0 0 10px rgba(255,255,255,1);
            &.mini{
                width:14px;
                height:14px;
            }
            &.small{
                width:18px;
                height:18px;
            }
            &.medium{
                width:22px;
                height:22px;
            }
        }
        .text{
            position: relative;
            z-index: 2;
            white-space: nowrap;
            color: #666;
        }
    }

    .answer-text{
        margin-top: 80px;
        .text{
            color: #fff;
            font-size: 18px;
            background: rgba(0,0,0,0.55);
            border: 3px solid rgba(255,255,255,0.75);
            box-shadow: 0 0 5px 0 #FFFFFF;
            border-radius: 8px;
            padding: 8px 20px;
        }
    }
}

.qaa-lite-wrap{
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform:translateX(-50%);
    width: 350px;
    z-index: 4;
    .answer-btn-list{
        display: flex;
        flex-wrap: wrap;
        min-height: 121px;

        &.mode-2{
            margin-left: 140px;
            width: 212px;
            flex-direction: column-reverse;
            >div{
                display: block;
            }
            .answer-btn-wrap{
                width: 100%;
                &:nth-child(2n){
                    padding-left: 0;
                }
                &:nth-child(2n + 1){
                    padding-right: 0;
                }
            }
        }
        .answer-btn-wrap{
            width: 50%;
            box-sizing: border-box;
            padding-bottom: 10px;
            opacity: 0;
            transition: opacity .5s;
            &.show{
                opacity: 1;
            }
            &:nth-child(2n){
                padding-left: 5px;
            }
            &:nth-child(2n + 1){
                padding-right: 5px;
            }
            .answer-btn{
                background: rgba(0,0,0,0.55);
                box-shadow: 0 0 10px rgba(255,255,255,.4);
                border: 2px solid #FFFFFF;
                border-radius: 22.5px;
                color: #fff;
                font-size: 12px;
                width: 100%;
                height: 45px;
                line-height: 45px;
                &.am-button-active{
                    opacity: .8;
                }
            }
        }
    }
}

@keyframes qItemAni {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(10%);
    }
}

.widget-container {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 50px;
    margin: 0 15px;

    .fade-enter,.fade-enter-done{
        display: block;
        width: 100%;
    }
}

.product-wrap{
    min-height: 198px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(255,255,255,.6);
    display: none;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(180deg, #4980FF 0%, #3B62D4 20%, #7E9FFF 50%, rgba(255,255,255,0.00) 100%);
        border-radius: 8px 8px 0 0;
        height: 110px;
        width: 100%;
    }
    .inner{
        position: relative;
        z-index: 2;
        padding: 14px;
    }
    .name{
        font-size: 16px;
        color: #FFFFFF;
        max-height: 34px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp:2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
    .type-code{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 14px;
        font-size: 12px;
        color: #fff;
        .type{
            border: 1px solid #FFFFFF;
            background: rgba(255,255,255,.11);
            border-radius: 22.5px;
            padding: 2px 14px;
        }
    }
    .info{
        background: #FFFFFF;
        box-shadow: 0 -10px 10px 0 rgba(21,0,119,0.15);
        border-radius: 8px;
        min-height: 60px;
        padding: 15px 10px 0;
        display: flex;
        justify-content: space-around;
        .item{
            text-align: center;
            font-size: 12px;
            position: relative;
            &:before{
                content:'';
                position: absolute;
                left: 0;
                top: 0;
                height: 80%;
                width: 1px;
                background: #B1BCDE;
                opacity: 0.25;
            }
            &:first-child:before{
                display: none;
            }
            .field{
                font-size: 16px;
                color: #003982;
                height: 30px;
                &.red{
                    font-size: 18px;
                    color: #C50038;
                }
            }
            .field-name{
                font-size: 12px;
                color: #999999;
            }
        }
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        padding: 0 14px;
        .tag{
            font-size: 12px;
            color: #B1BCDE;
            border: 1px solid #B1BCDE;
            border-radius: 100px;
            padding: 2px 10px;
            transform: scale(.8);
            margin-right: -5px;
            white-space: nowrap;
        }
    }
    .tip{
        text-align: center;
        color: #82AFEA;
        font-size: 12px;
        padding-top: 10px;
    }
    &.product-wrap{
        .img{
            width: 100%;
            position: relative;
            z-index: 2;
            touch-action: none;
        }
        .feedback-btn-group{
            display: flex;
            padding: 0 15px 20px;
            margin-top: -10px;
            position: relative;
            z-index: 2;
            >div{
                width: 50%;
                padding: 0 20px;
            }
        }
        &.qd-link{
            box-shadow: 0 0 10px 0 rgba(0,28,80,0.35);
            &:after{
                display: none;
            }
            .feedback-btn-group{
                margin-top: 0;
                padding-bottom: 10px;
            }
            .content{
                min-height: 120px;
                text-align: center;
                padding: 24px;
            }
            .click-icon{
                width: 35px;
            }
            .text-wrap{
                font-size: 13px;
                line-height:1.4;
                color: #333333;
                padding: 10px 0;
                &.lite{
                    font-size: 12px;
                }
                .color-blue{
                    color: #82AFEA;
                }
            }
            .link{
                a{
                    color: #82AFEA;
                    word-break: break-all;
                    font-size: 13px;
                    text-decoration: underline;
                    line-height:1.2;
                }
            }
        }
    }
}

.product-2-wrap{
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,28,80,0.35);
    border-radius: 8px;
    display: none;
    height: 198px;
    padding: 14px 10px;
    box-sizing: border-box;
    .tags{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        .tag{
            display: inline-block;
            font-size: 12px;
            color: #B1BCDE;
            border: 1px solid #B1BCDE;
            border-radius: 100px;
            padding: 2px 10px;
        }
    }
    &.info{
        width: 130px;
        .code{
            font-size: 12px;
            color: #82AFEA;
            white-space: nowrap;
            transform: scale(.8) translateX(-12%);
        }
        .name{
            font-size: 14px;
            color: #333333;
            padding: 6px 0 6px;
            line-height: 1.4;
            min-height: 56px;
        }
        .rate{
            font-size: 24px;
            color: #C50038;
        }
        .tip{
            font-size: 12px;
            transform: scale(.8) translateX(-12%);
            color: #999999;
        }
    }
    &.link{
        &.fade-enter,&.fade-enter-done{
            display: flex;
        }
        width: 212px;
        text-align: center;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        .tip{
            font-size: 14px;
            color: #333333;
            line-height: 1.5;
            >span,a{
                color: #82AFEA;
            }
        }
        .btn{
            box-shadow: 0 7px 15px 0 rgba(0,50,206,0.35);
            border-radius:100px;
            background-size: 100% 100%;
            width: 150px;
            height: 35px;
            margin-top: 30px;
            &:before{
                display: none;
            }
            &:active{
                opacity: .8;
            }
        }
    }
    &.phone{
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #333333;
        padding: 20px;
        .i-phone{
            width: 58px;
        }
        .number{
            font-size: 16px;
            padding-bottom: 10px;
            >a{
                color: #82AFEA;
                letter-spacing: 2px;
            }
        }
    }
}

.top-candidates-wrap{
    min-height: 65px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    >.title{
        display: inline-block;
    }
    >.item{
        display: inline-block;
        font-size: 12px;
        color: #666666;
        text-align: center;
        padding: 5px 15px;

        margin-right: 10px;
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        opacity: 0;
        transition: opacity .5s;
        &.show{
            opacity: 1;
        }
        >.bg{
            position: absolute;
            background: #FFFFFF;
            height: 100%;
            width: 100%;
            border-radius: 15px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            filter: blur(2px);
        }
    }
}

.play-btn {
  position: absolute !important;
  top: 45%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #fff !important;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0 0 13px #666;
}

.skip-btn {
  position: absolute;
  z-index: 10;
  bottom: 0;
}

.skip-btn-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  color: #fff;

  .skip-btn {
    position: relative;
    bottom: 30%;
    display: flex;
    
    svg {
      width: 35px;
      height: 35px;
      color: #fff;
    }

    div{
        &:active {
            transform: scale(1.2);
          }
        img{
            width:130px;
        }
    }
  }

  .skip-text {
    margin-top: 90px;
    font-size: 16px;
  }
  
}
