.ait-checkbox {
  display: inline-block;
  color: #767676;

  .checkbox {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    border: 1px solid #767676;
    border-radius: 2px;
  }

  .checkbox-checked {
    background: #4E7AE2;
    border-color: #4E7AE2;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 1px;
      width: 7px;
      height: 3px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }
  }
}