.speak-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.speak {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 -2px 7px #eee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;

  &, * {
    box-sizing: border-box;
  }

  .speak-hide {
    position: absolute;
    right: 10px;
    top: -55px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;

    img {
      width: 15px;
    }
  }

  .form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .circle-icon {
      display: inline-block;
      width: 49px;
      height: 49px;
    }

    .submit-icon {
      width: 45px;
      height: 45px;

      &:active {
        transform: scale(1.2);
      }
    }
  }

  .speak-input {
    margin: 0 8px;
    padding: 5px;
    width: 100%;
    min-height: 29px;
    line-height: 1.5;
    border: 1px solid #aaa;
    border-radius: 20px;
    color: #666;
  }

  .call-recorder {
    text-align: center;
  }

  .record-btn {
    text-align: center;
    font-size: 14px;
  }

  .recording-btn {
    border: 1px solid #426CDD;
    box-shadow: 0 0 8px rgba(69, 112, 223, .5);
    color: #426CDD;
  }

  .am-button {
    margin: 0 15px;
    width: 100%;
    height: 29px;
    line-height: 29px;
    border: 1px solid #aaa;
    border-radius: 20px;
  }

  .anoymous-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8px 0;
    font-size: 12px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      border-top: 1px solid #aaa;
    }

    .ait-checkbox {
      position: absolute;
      z-index: 1;
      transform: translateY(-50%);
      padding: 0 20px;
      background-color: #fff;
    }
  }
}

.speak-recording {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #7676d3;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  background-color: rgba(255, 255, 255, .9);
  
  img {
    position: relative;
    top: -2px;
    width: 60px;
  }

  .yinbo {
    li {
      box-sizing: border-box;
      height: 5px;
      background: #ddd;
      transition: background .1s;
    }

    li:not(:last-child) {
      margin-bottom: 8px;
    }

    .active {
      background: #43439e;
    }
  }
}

.edit-modal {
  .title {
    font-size: 16px;
    color: #528ede;
  }
  .content {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    text-align: left;
  }
  .asr-loading {
    height: 20vw;
  }
  .am-modal-body {
    padding: 0 0 15px !important;
  }
}