body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
  overflow: hidden;
}

html, body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*{
  user-select: none; 
}

textarea, input{
  user-select: all;
}

.am-list-item .am-input-control input {
  color: #7b7a7a;
}

*:not(textarea, input) {
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-user-select: none; /*webkit浏览器*/
  -khtml-user-select: none; /*早期浏览器*/
  -moz-user-select: none; /*火狐*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
}

img {
  // pointer-events:none;/* 禁止长按图片保存 */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root{
  position: fixed; // 修复ios地址栏高度问题
  height: 100%;
  width: 100%;
  background-color: #2e2c2c;
}

.fade-enter {
  opacity: 0;
  transform: translateY(20%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 500ms;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#__vconsole{
  display: none;
}
.m-vc-btn{
  position: fixed;
  z-index: 10002; // vconsole 是 10001
  width: 44px;
  height: 44px;
  left: 0;
  top: 0;
  padding: 0;
  opacity: 0;
}
.version-text{
  position: fixed;
  left: 5px;
  bottom: 5px;
  z-index:2;
  display: none;
  width: 1px;
  white-space: nowrap;
  font-size: 12px;
  transform: scale(.8);
  color: #666;
  pointer-events: none;
  touch-action: none;
}
.am-modal-mask{
  backdrop-filter: blur(5px);
}

.am-list-line::after
{
  background-color: transparent !important;
}
