.topic-square-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../../static/glass-bg.jpg');
}

.topic-square {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .am-activity-indicator {
    justify-content: center;
    padding: 30px;
  }

  .topic-square-bg {
    position: relative;
    margin: 0 auto;
    width: 93%;
    height: 88%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 7px 15px 0 rgba(0, 50, 206, .15);
    background: #fff;
  
    &::before {
      position: absolute;
      top: 20px;
      content: '';
      width: 100%;
      height: 150px;
      background: url(../../static/circle-shadow.png) no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }

  .header{
    background-image:  linear-gradient(90deg, #72A1F0 0%, #3E68DC 100%);
    text-align: center;
    color: #fff; 
    font-size: 21px;
    height: 45px;
    line-height: 45px;
    .crossIcon {
      float: left;
      position: absolute;
      left: 12px;
      top: 7px;
    }
  }

  .subTitle {
    color: #990D0C;
    font-size: 14px;
    padding:5px;
  }

  .topic-list {
      list-style: none;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .am-list-body {
        background: transparent;

        &::after {
          background-color: transparent;
        }
      }

      .topic {
          display: block;
          padding: 20px 10px 10px;
          border-bottom: 1px solid #D8D8D8;
          width: 90%;
          margin: 0 auto;
          font-size: 14px;

          .itemTitle{
              margin-bottom: 5px;
              display: flex;
              font-size: 14px;
              color: #000;
              line-height: 1.5;

              .smallIcon{
                position: relative;
                top: -3px;
                left: 5px;
                font-size: 10px;
                color: #990D0C;
                font-weight: bold;
              }
              .circle{
                width: 14px;
                height: 14px;
                margin: 3px 10px 0 0;
                border-radius: 50%;
                display: block;
                flex-shrink: 0;
              }
        }
        .subTitle{
            color:#757272;
            font-size: 10px;
            span{
              margin-right: 10px;
            }
        }
      }
  }
 
  .edit {
      position: absolute;
      right: 5px;
      bottom: 0;
      &:active {
          transform: scale(1.3);
      }
      img {
        width: 70px;
      }
  }

  .edit{
    -webkit-animation:3s seconddiv infinite;
    background: transparent;
  }
    
  @keyframes seconddiv{
    0% {transform: scale(1.1,1.1);}
    25% {transform: scale(1,1);}
    55% {transform: scale(1.1,1.1);}
    75% {transform: scale(1,1);}
    100% {transform: scale(1.1,1.1);}
  }

  .answer-list {
    list-style: none;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 100px);
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden !important;
    .am-list-header{
      border-bottom: 1px solid #D8D8D8;
      padding: 5px
    }
    .topicTitle{
      font-size: 17px;
      padding:10px;
      color:#000;
      line-height: 1.5;
    }
    .answer-item{
      display: block;
      padding: 10px 10px 0px 10px;
      border-bottom: 1px solid #D8D8D8;
      width: 90%;
      margin: 0 auto;
      >div{
        margin-bottom: 8px;
      }
      .answerTag{
        font-weight: bold;
      }
      .content{
        display:flex;
        img {
          margin-right: 5px;
          flex-shrink: 0;
        }
        .right-content{
          font-size: 10px;
          div{
            margin-bottom: 8px;
          }
          .answer-text {
            line-height: 1.3;
            font-size: 14px;
          }
        }
      }
      .like-img img {
        width: 12px;
      }
      .like-img:active {
        transform: scale(1.2);
      }
    }

    .am-list-body::before {
      background-color: transparent !important;
    }

    .am-list-body::after {
      background-color: transparent !important;
    }
  }

  .guide {
    &-cover {
      position:absolute;left:0px;top:0px;
      background:rgba(0, 0, 0, 0.4);
      width:100%;
      height:100%;
    }

    &-img-wrap {
      position: absolute;
      top: 45%;
      z-index: 3;
      width: 100%;
      transform: translateY(-50%);
    }

    &-img-container {
      position: relative;
      .guide-btn {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        border-radius: 20px;
        font-weight: bold;
        background:  linear-gradient(90deg, #FF5656 0%, #CD0469 100%);
        color:#fff;
      }
      .am-button::before {
        border: none;
      }
    }

    &-img {
      width: 100%;
    }
  }
}

.speak-message-modal {
  padding: 15px 0;
  font-size: 16px;
  color:#4E79E2;
}