.error-wrap{
  background: url("../../static/error_bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 300px;
    color: #fff;
    line-height: 30px;
    .title{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .msg{
      font-size: 18px;
    }
  }
}
